:root {
  --navcover-z-index: 99;
  --sidenav-z-index: 100;
}

.nav-cover {
  position: fixed;
  z-index: var(--navcover-z-index);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.side-nav {
  height: 100%;
  width: 0;  /* to be set in js */
  position: fixed;
  overflow-x: hidden;
  z-index: var(--sidenav-z-index);
  top: 0;
  left: 0;
  background: #111;
  padding-top: 3.5rem;
  transition: 0.5s;
}

.side-nav a {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.53s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .close-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.2rem;
  background: transparent;
  color: white;
  border: transparent;
  cursor: pointer;

}

.site-wrapper {
    transition: margin-left .5s;
}

.open-nav {
  font-size: 1rem;
  cursor: pointer;
  position: fixed;
}
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
} 

/*******************************/
/*******************************/
/*******************************/
/* 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

*/