.screen{
  color:white;
  font-size: x-large;
  margin-left: 30px;/*  Same as the width of the sidenav */
  /* text-align:left; */
  padding: 0px 10px;
}
.opennav{
  color: black;
}
.icon{
  width: 50px; 
  height:50px;
}
.image{
  /* width: 80%;
  height: auto; */
  padding-right: 40px;
  /* border: 2px solid lightgoldenrodyellow; */
  width: 20%; 
  height:20%;
}

.gif{
  padding-right: 3%; 
  width: 20%; 
  height:20%;
}

li{
text-shadow: darkgrey;
}

.description{
  font-size:20px;
}

/* TODO: @media image gif*/


h1 {
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
  text-align: left;
  text-shadow: 4px 4px 10px darksalmon;

}
h2{
  text-shadow: 2px 2px 5px darkred;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
 to {
    margin-left: 0%;
    width: 100%;
  }
}
h3 {
  color: lightgray;
  animation-duration: 3s;
  animation-name: change-color;
  text-align: left;
  animation-iteration-count: 5;

}

@keyframes change-color {
  0%   {color: white;}
  25%  {color: lightgoldenrodyellow;}
  50%  {color: lightpink;}
  100% {color: lightsalmon;}
}
a:link {color:#ff0000; text-decoration:none;}
a:visited {color:darkblue;}
a:hover {font-family:monospace;}
.box{
  background-color: white;
  width: 500px;
  /* border: 15px solid green; */
  padding: 500px;
  margin: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rosybrown;
  color: white;
  text-align: center;
}
